.team-logo {
  width:  25px;
  height: 25px;
  padding: 5px;
}

.team-name {
    min-width: 150px;
}

span {
  min-height: 50px;
  /* display: inline-flex; */
  display: flex;
  align-items: center;
  /* border: 1px solid aqua; */
}

.stat-logo {
    width: 15px;
    height: 15px;
    padding: 10px;
}
