{% extends 'layout.html' %}

{% block content %}
    {% for league in teams.leagues %}
        <h2 class="league">{{ league.name }}</h2>
        {% for division in league.divisions %}
            <h4 class="division">{{ division.name }}</h4>
            {% for team in division.teams %}
                {% set name = team.name %}
                {% set id = team.id %}
                {% set logo_url = 'https:' ~ team.logo %}
                {% set stats_base_url = "http://mlb.mlb.com/stats/sortable.jsp#game_type='R'&season=2019" %}
                {% set hitting_url = stats_base_url ~ '&statType=hitting&team_id=' ~ id ~ '&playerType=ALL' %}
                {% set fielding_url = stats_base_url ~ '&statType=fielding&team_id=' ~ id ~ '&playerType=ALL' %}
                {% set pitching_url = stats_base_url ~ '&statType=pitching&team_id=' ~ id ~ '&playerType=ALL&position="1"' %}
                {% set team_url = 'http://mlb.mlb.com' ~ team.url %}
{#

Bat icon
<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

<i class="fas fa-fist-raised"></i>
<i class="fas fa-baseball-ball"></i>
<i class="fas fa-mitten"></i>
#}

                <span class="team">
                    <a href="{{ team_url }}"><img class="team-logo" src = "{{ logo_url }}"></a>
                    <a class="team-name" href="{{ team_url }}">{{ name }}</a>
                    <a href="{{ hitting_url }}"><img class="stat-logo" src="{{ url_for('static', filename = 'hit.png') }}" title="Hitting Stats"></a>
                    <a href="{{ fielding_url }}"><img class="stat-logo" src="{{ url_for('static', filename = 'field.png') }}" title="Fielding Stats"></a>
                    <a href="{{ pitching_url }}"><img class="stat-logo" src="{{ url_for('static', filename = 'pitch.png') }}" title="Pitching Stats"></a>
                </span>
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock content %}
