{% extends 'layout.html' %}

{%- block content %}
<div id="{{ division_id }}" class='players'>
    <h1>Player Stats</h1>
    {%- set name = dashed_name.replace('-', ' ').title() %}

    <h2>{{ name }}</h2>

    {% for (player_name, player_id) in player_info %}
        {% set player_address = player_name.replace(' ', '-').lower() %}
        {% set image_url = 'http://gdx.mlb.com/images/gameday/mugshots/mlb/' ~ player_id ~ '.jpg' %}
        {% set stat_url= 'https://baseballsavant.mlb.com/savant-player/' ~ player_address ~ '-' ~ player_id %}

        <div class="each-player">
            <span>
                <a href='{{ stat_url }}'><img class='player-pic' src = "{{ image_url }}">
                {{ player_name }}</a>
            </span>


        </div>            <!-- class=each-player -->

    {% endfor %}          <!-- league in teams.leagues   -->
</div>                    <!-- class=players  -->
{% endblock content %}
